:root{
    --bg-main-color: #2F3549;
}

.rbc-toolbar{
    background-color: white;
    color: gray;
    font-size: 1.2rem;
    border-radius: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;

}

.rbc-toolbar button{
    color: #5C61F2;
    background-color: #E1EBFD;
    border: none;
    transition: 0.2 ease-in;
}

.rbc-toolbar button:hover{
    background-color: #5C61F2;
    color: white;
}


.rbc-toolbar button.rbc-active{
color: white;
background-color: #5C61F2;
}

.rbc-toolbar button.rbc-active:hover{
    color: #5C61F2;
    background-color: #E1EBFD;
    }

.rbc-header{
    height: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: #F3F6F9;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.rbc-month-view{
    border-radius: 0.75rem;
    background-color: white;
}

.rbc-day-bg.rbc-today{
    background-color: #5C61F2;
}

.rbc-date-cell.rbc-now{
    color: whitesmoke;
}

