/* poppins for table */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .react-calendar__month-view__days__day--weekend {
    background-color: red;
  }
   */

:root{
    --bg-color: #5C61F2;
}

.react-calendar {
    width: 20%;
    height: 30%;
    max-width: 100%;
    padding-bottom: 0.8rem;
    /* padding-inline: 0.5rem; */
    background: white;
    /* border: none; */
    font-family: "Poppins", sans-serif;
    border: none;
}

.react-calendar__tile--active {
    background: var(--bg-color);
    border-radius: 50%;
}

.react-calendar__navigation{
    background: var(--bg-color);
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}


.react-calendar__month-view__weekdays{
    color: var(--bg-color);
    font-family: "Poppins", sans-serif;
}

abbr:where([title]) {
    text-decoration: underline;
}

@media  screen and (max-width:1400px) {
    .react-calendar {
        width: 25%;
        margin-top: 1.8em;
    }
}